In [27]:
import requests
from bs4 import BeautifulSoup

In [28]:
# return list of dicts each containing title, artist, chart rank for a song
def get_hot_100(year):
    url = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_' + str(year)
    r = requests.get(url)
    bs = BeautifulSoup(r.text, 'lxml')
    rows = bs.find('table').find_all('tr')
    songs = []
    for row in rows[1:]:
        cols = row.find_all(['td', 'th'])
        cols = [t.text.strip().strip('"') for t in cols]
        song = {}
        try:
            song['RANK'] = cols[0]
        except:
            song['RANK'] = None
        
        try:
            song['TITLE'] = cols[1]
        except:
            song['TITLE'] = None
        
        try:
            song['ARTIST'] = cols[2]
        except:
            song['ARTIST'] = None
        
        song['YEAR'] = year
        songs.append(song)
    return (songs)

In [29]:
songs_1959_2020 = []
for year in range(1959, 2021):
    songs_1959_2020.extend(get_hot_100(year))

In [30]:
import pandas as pd

In [31]:
df = pd.DataFrame(songs_1959_2020)

In [32]:
# find any songs whose rank is "Tie"
df[df.RANK=='Tie']

     RANK   TITLE                     ARTIST  YEAR
1100  Tie  Let Me  Paul Revere & the Raiders  1969

In [33]:
# drop that song and reindex
df = df.drop(1100)
df.reindex()

     RANK                      TITLE                            ARTIST  YEAR
0       1  The Battle of New Orleans                     Johnny Horton  1959
1       2             Mack the Knife                       Bobby Darin  1959
2       3                Personality                       Lloyd Price  1959
3       4                      Venus                    Frankie Avalon  1959
4       5                 Lonely Boy                         Paul Anka  1959
...   ...                        ...                               ...   ...
5996   96      More Than My Hometown                     Morgan Wallen  2020
5997   97              Lovin' on You                        Luke Combs  2020
5998   98                   Said Sum                      Moneybagg Yo  2020
5999   99                      Slide               H.E.R. featuring YG  2020
6000  100               Walk Em Down  NLE Choppa featuring Roddy Ricch  2020

[6000 rows x 4 columns]

In [34]:
df.RANK = df.RANK.astype(int)
df.TITLE = df.TITLE.astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6000 entries, 0 to 6000
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RANK    6000 non-null   int64
 1   TITLE   6000 non-null   object
 2   ARTIST  6000 non-null   object
 3   YEAR    6000 non-null   int64
dtypes: int64(2), object(2)
memory usage: 234.4+ KB

In [35]:
df.to_csv('billboard-hot-100-yearly.csv')